<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>内蒙古自治区住建大数据平台</title>
    <script src="./config.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but neimeng doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=AQODcWCm61Vbc8Wa5LIrzIb50bVtQfsn"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
