<template>
  <div class='wrapper'>
    <header class="header">
      <Tooltip content="返回上一页" class="return-home">
        <Icon type="ios-undo" :size="36" @click="back"/>
      </Tooltip>
    </header>
    <div class="table-wrapper"> 
      <Table
        v-if="data && data.length"
        :show-header="false"
        :columns="columns"
        :data="data"
        :height="620"
        size="large"
        stripe
        class="table"
      />
    </div>
  </div>
</template>

<script>
import Request from '@/request'

const Keys = CONFIG.keys
const columns = [
  {
    title: 'key',
    key: 'key',
    align: 'center',
    width: 360
  },
  {
    title: 'value',
    key: 'value',
    align: 'left',
    tooltip: true
  }
]

export default {
  name:"Detail",
  props: {
    type: {
      required: true
    },
    name: {
      required: true
    }
  },
  data() {
    return {
      data: [],
      columns
    }
  },
  created() {
    this.data = []
    this.getData()
  },
  destroyed() {
    this.data = []
  },
  methods: {
    getData() {
      Request.getDetail({state: this.type, name: this.name})
        .then(response => {
          if (response.data && response.data.length) {
            this.data = this.convertData(response.data[0])
          } else {
            this.data = []
            this.$Message.error('未找到数据')
          }
        })
    },
    convertData(data) {
      let result = []
      for (let key in data) {
        let name = key
        if (Keys[this.type - 1] && Keys[this.type - 1][key]) {
          name = Keys[this.type - 1][key]
        }
        result.push({
          key: name,
          value: data[key]
        })
      }
      return result
    },
    back() {
      this.$router.back()
    }
  }
}
</script>

<style lang="less" scoped>
.wrapper {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(178, 175, 233, 0.6);
    border-radius: 3px;
  }
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background: rgba(5, 1, 20, 0.54);
  font-size: 16px;
  overflow: hidden;
  .header {
    position: relative;
    padding: 24px 0;
    font-size: 26px;
    line-height: 48px;
    .return-home {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
    }
  }
  .table-wrapper {
    margin: 40px;
  }
}
</style>
