<template>
  <div class="wrapper">
    <header class="header">
      <h1 class="title">内蒙古住建大数据平台</h1>
      <div class="buttons">
        <span class="btn" :class="{active: state===0}" @click="change(0)">综合展示</span>
        <span class="btn" :class="{active: state===1}" @click="change(1)">企业信息</span>
        <span class="btn" :class="{active: state===2}" @click="change(2)">人员信息</span>
        <span class="btn" :class="{active: state===3}" @click="change(3)">项目信息</span>
        <a class="btn" href="./接口标准.pdf" download>接口标准下载</a>
        <div>
          <Select v-model="type" class="select">
            <Option :value="0">企业</Option>
            <Option :value="1">项目</Option>
            <Option :value="2">人员</Option>
            <Option :value="3">位置</Option>
          </Select>
          <Input search placeholder="请输入" class="search" @on-search="search"/>
        </div>
      </div>
      <div class="logo">
        <img src="@/assets/logo.png" alt="logo" height="50">
      </div>
    </header>
    <main class="main">
      <v-map :state="state" class="left"></v-map>
      <div class="right">
        <v-right-top :state="state" class="top"></v-right-top>
        <v-right-bottom :state="state" class="bottom"></v-right-bottom>
      </div>
    </main>
  </div>
</template>

<script>
// @ is an alias to /src
import vMap from '@/components/Map.vue'
import vRightTop from '@/components/RightTop.vue'
import vRightBottom from '@/components/RightBottom.vue'

export default {
  name: 'home',
  data() {
    return {
      state: 0,
      type: 0
    }
  },
  components: {
    vMap,
    vRightTop,
    vRightBottom
  },
  methods: {
    change(value) {
      this.state = value
    },
    search(value) {
      if (value === '') {
        return
      }
      if (this.type !== 3) {
        this.$router.push({
          name: 'table',
          params: { type: this.type, keyword: value, index: 0}
        })
      } else {
        this.$router.push({
          name: 'map',
          query: { keyword: value }
        })
      }
    }
  }
}
</script>
<style lang="less" scoped>
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: rgba(5, 1, 20, 0.54);
  .header {
    display: flex;
    .title {
      width: 400px;
      height: 60px;
      background: url(~@/assets/title.png);
      background-size: 100% 100%;
      font-size: 24px;
      letter-spacing: 0.2em;
      text-align: left;
      line-height: 60px;
      padding-left: 20px;
      font-weight: 500;
    }
    .buttons {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      text-align: left;
      .btn {
        margin: 8px;
        padding: 8px 16px;
        border-radius: 6px;
        transition: all 0.5s;
        color: rgb(8, 245, 253);
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
        &.active {
          font-weight: 600;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 8px 1px rgba(8, 245, 253, 1);
        }
      }
      .select {
        margin: 16px -1px;
        margin-left: 24px;
        width: 80px;
        line-height: 24px;
      }
      .search {
        margin: 16px 0;
        width: 200px;
        line-height: 24px;
      }
    }
    .logo {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
  .main {
    flex: 1;
    display: flex;
    overflow: hidden;
    .left {
      flex: 1;
    }
    .right {
      width: 40%;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      .top {
        max-width: 700px;
      }
      .bottom {
        max-width: 700px;
      }
    }
  }
}
</style>
