<template>
  <div class="wrapper">
    <Tooltip content="返回主页" class="return-home">
      <Icon type="ios-undo" :size="36" @click="returnHome"/>
    </Tooltip>
    <div class="search-wrapper">
      <div class="search-form">
        <Input
          v-model="inputKeyword"
          search
          enter-button
          clearable
          size="large"
          placeholder="请输入企业名称"
          class="search-input"
          @on-clear="clear"
          @on-search="handelSearch"/>
          <Icon type="ios-loading" class="loading" v-if="loading"/>
      </div>
      <div class="search-result" :class="{hiden: resultList.length===0}">
        <ul class="list">
          <li v-for="(item, index) in resultList" :key="index" class="item" :class="{active: selectedIndex===index}" @mouseenter="hoverItem(index)" @mouseleave="leaveItem(index)" @click="clickItem(index)">
            <span class="icon" v-if="selectedIndex===index || activedIndex===index" :style="{'background-position': `-${index*18}px -166px`}"></span>
            <span class="icon" v-else :style="{'background-position': `-${index*18}px -139px`}"></span>
            <div class="content">
              <h4 class="name">{{item.entname}}</h4>
              <p class="des">
                <span>企业法人:</span>
                {{item.name ? item.name : '暂无'}}
              </p>
              <p class="des" v-if="item.uniscid">
                <span>信用代码:</span>
                {{item.uniscid}}
              </p>
              <p class="des" v-if="item.regcap">
                <span>注册资金:</span>
                {{item.regcap}} 万元
              </p>
              <p class="des" v-if="item.opscope">
                <span>经营范围:</span>
                {{item.opscope}}
              </p>
              <p class="des" v-if="item.dom">
                <span>地址:</span>
                {{item.dom}}
              </p>
            </div>
          </li>
        </ul>
        <Page
          v-if="total>10"
          class="page"
          :total="total"
          :current.sync="page"
          show-total
          size="small"
          @on-change="changePage"
        />
      </div>
    </div>

    <div class="map-container" id="container"></div>
  </div>
</template>

<script>
import Request from '@/request'
import { Promise } from 'q';

let map = null
const centerLon = 112.8
const centerLat = 45.0

// 获取内蒙边界
function getBoundary(){
  var bdary = new BMap.Boundary();
  bdary.get("内蒙古自治区", function(rs){
    map.clearOverlays()
    var count = rs.boundaries.length
    if (count === 0) {
      console('未能获取行政区域')
      return
    }
    var pointArray = []
    for (var i = 0; i < count; i++) {
      var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 2, strokeColor: '#ff0000', fillColor: 'rgba(0,0,0,0)'})
      map.addOverlay(ply)
      pointArray = pointArray.concat(ply.getPath())
    }
    map.setViewport(pointArray)
  })
}

export default {
  name: 'Map',
  data() {
    return {
      loading: false,
      inputKeyword: '',
      resultList: [],
      markers: [],
      points: [],
      activedIndex: -1,
      selectedIndex: -1,
      total: 0,
      page: 1
    }
  },
  watch: {
    '$route': function(){
      this.clear()
      this.inputKeyword = this.$route.query.keyword
      if (this.inputKeyword) {
        this.search()
      }
    }
  },
  mounted() {
    this.inputKeyword = this.$route.query.keyword
    map = new BMap.Map("container", {
      minZoom: 4,
      maxZoom: 18
    })
    var point = new BMap.Point(centerLon, centerLat)
    map.centerAndZoom(point, 6.5)
    map.enableScrollWheelZoom(true)
    map.addControl(new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT}))
    map.addControl(new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP,BMAP_HYBRID_MAP],anchor: BMAP_ANCHOR_TOP_RIGHT}))
    map.addControl(new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT,offset: new BMap.Size(10,40)}))
    getBoundary()
    if (this.inputKeyword) {
      this.search()
    }
  },
  methods: {
    search() {
      if(this.inputKeyword === '') {
        return
      }
      this.loading = true
      Request.search({
        state: 0,
        pageon: this.page,
        name: this.inputKeyword
      }).then(response => {
        this.loading = false
        this.clear()
        if (response.data && response.data.data && response.data.data.length) {
          this.resultList = response.data.data
          this.resultList.forEach(item => {
            if (item.regcap) {
              item.regcap = Number(item.regcap)
            }
            if (item.opscope && item.opscope.indexOf('许可经营项目：' > -1)) {
              item.opscope = item.opscope.substring(7)
            }
          })
          this.getCoordinate()
          let total = Number(response.data.total)
          this.total = total > 100 ? 100 : total
        } else {
          this.resultList = []
          this.$Message.error('未找到您搜索的企业')
        }
      }).catch(err => {
          this.$Message.error(err)
      })
    },
    handelSearch() {
      this.total = 0
      this.page = 1
      this.search()
    },
    changePage() {
      this.search()
    },
    getCoordinate() {
      let requests = []
      this.resultList.forEach(item => {
        let params = {
          address: '内蒙古' + item.dom,
          ak: CONFIG.ak
        }
        let request = Request.geocodingByProxy(params).then(response => {
          if (response.data.status === 0) {
            item.point = new BMap.Point(response.data.result.location.lng, response.data.result.location.lat)
            this.points.push(item.point)
          }
        })
        requests.push(request)
      })
      // 获得所有坐标之后定位到该视图范围,删除没有获得坐标的数据，添加 Marker
      Promise.all(requests).then(() => {
        map.setViewport(this.points)
        this.resultList = this.resultList.filter((item) => {
          return item.point
        })
        this.resultList.forEach((item, index) => {
            this.addMarker(item.point, index)
        })
      })
    },
    addMarker(point, index) {
      let icon = new BMap.Icon(
        './images/markers.png',
        new BMap.Size(18, 27),
        {
          imageSize: new BMap.Size(300, 300),
          imageOffset: new BMap.Size(-index * 18, -139)
        }
      )
      let marker = new BMap.Marker(point, {icon})
      let infoWindow = new BMap.InfoWindow(this.resultList[index].entname)
      marker.addEventListener('click', () => {
        map.openInfoWindow(infoWindow, point)
      })
      map.addOverlay(marker)
      this.markers.push(marker)
    },
    clear() {
      this.resultList = []
      this.markers.forEach(marker => {
        map && map.removeOverlay(marker)
      })
      this.markers = []
      this.points = []
      this.selectedIndex = -1
      this.activedIndex = -1
      this.total = 0
      map.closeInfoWindow()
    },
    returnHome() {
      this.$router.push('/')
    },
    hoverItem(index) {
      this.activedIndex = index
      if (this.markers[index]) {
        let icon = this.markers[index].getIcon()
        icon.setImageOffset(new BMap.Size(-index * 18, -166))
        this.markers[index].setIcon(icon)
      }
    },
    leaveItem(index) {
      this.activedIndex = -1
      if (this.selectedIndex === index) {
        return
      }
      if (this.markers[index]) {
        let icon = this.markers[index].getIcon()
        icon.setImageOffset(new BMap.Size(-index * 18, -139))
        this.markers[index].setIcon(icon)
      }
    },
    clickItem(index) {
      this.clearActivedMarker()
      if (this.selectedIndex === index) {
        this.selectedIndex = -1
      } else {
        map.panTo(this.resultList[index].point)
        this.selectedIndex = index
        if (this.markers[index]) {
          let icon = this.markers[index].getIcon()
          icon.setImageOffset(new BMap.Size(-index * 18, -166))
          this.markers[index].setIcon(icon)
          this.markers[index].setAnimation(BMAP_ANIMATION_BOUNCE)
        }
      }
    },
    clearActivedMarker() {
      map.closeInfoWindow()
      this.markers.forEach((marker,index) => {
        let icon = marker.getIcon()
        icon.setImageOffset(new BMap.Size(-index * 18, -139))
        marker.setIcon(icon)
        marker.setAnimation(null)
      })
    }
  }
}
</script>

<style lang="less" scoped>
.wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: rgba(5, 1, 20, 0.54);
  font-size: 16px;
  color: #333;
  .map-container {
    position: relative;
    height: 100%;
    z-index: 100;
  }
  .return-home {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #2d8cf0;
  }
  .search-wrapper {
    position: absolute;
    top: 20px;
    left: 80px;
    bottom: 100px;
    display: flex;
    flex-flow: column nowrap;
    .search-form {
      position: relative;
      .search-input {
        width: 400px;
        box-shadow: 1px 2px 4px rgba(0,0,0,.2);
      }
      .loading {
        position: absolute;
        top: 8px;
        right: -36px;
        float: left;
        font-size: 24px;
        font-weight: bolder;
        color: rgba(200, 200, 200, 1);
        text-shadow: 0 0 2px rgba(255, 255, 255, 1);
        animation: load .6s linear infinite;
      }
    }
    .search-result {
      z-index: 9999;
      flex: 1;
      margin-top: 20px;
      width: 340px;
      height: auto;
      padding: 8px;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 0 0 4px 4px;
      background: rgba(255,255,255,1);
      box-shadow: 1px 2px 4px rgba(0,0,0,.2);
      transition: all .4s ease-in-out;
      text-align: center;
      &.hiden {
        flex: none;
        padding: 0;
        height: 0;
      }
      .list {
        .item {
          display: flex;
          flex-flow: row nowrap;
          margin: 6px 0;
          padding: 6px;
          cursor: pointer;
          background: rgba(0, 0, 0, 0);
          transition: all 0.5s;
          overflow: hidden;
          text-align: left;
          &:hover {
            background: rgba(240, 240, 240, 0.6);
          }
          &.active {
            background: rgba(240, 240, 240, 0.8);
          }
          .icon {
            width: 18px;
            height: 27px;
            background: url(~@/assets/markers.png);
            background-size: 300px, auto;
            margin: 2px 6px 0 2px;
            background-position: 0 -139px;
          }
          .content {
            flex: 1;
            .name {
              font-size: 14px;
              font-weight: normal;
              color: #2d8cf0;
              // white-space: nowrap;
              // overflow: hidden;
              // text-overflow: ellipsis;
            }
            .des {
              line-height: 18px;
              color: #666;
              font-size: 12px;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              span {
                font-size: 13px;
                color: #333;
              }
            }
          }
        }
      }
      .page {
        margin: 20px 0 10px;
      }
    }
  }
}
@keyframes load {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
</style>
<style lang="less">
.BMap_cpyCtrl {
  display: none;
}
.anchorBL {
  a {
    display: none;
  }
}
#app {
  .search-input {
    .ivu-input {
      // height: 38px;
      background: rgba(255,255,255,1);
      border: none;
      color: #000;
      font-size: 16px;
      &:focus {
        box-shadow: 1px 2px 4px rgba(0,0,0,.2);
      }
    }
    .ivu-input-search {
      i {
        font-size: 24px;
        font-weight: bolder;
      }
    }
    .ivu-input-icon-clear {
      right: 72px;
      font-size: 20px;
    }
  }
}
</style>

