<template>
  <div class="table-wrapper">
    <header class="header">
      <h2 class="title" v-if="typeName">{{typeName}}数据展示</h2>
      <h2 class="title" v-else>搜索结果</h2>
      <Tooltip content="返回主页" class="return-home">
        <Icon type="ios-undo" :size="36" @click="returnHome"/>
      </Tooltip>
    </header>
    <main class="main">
      <Table
        :columns="columns"
        :data="data"
        :height="540"
        size="large"
        stripe
        @on-row-click="clickRow"
        no-data-text="暂无数据"
        class="table"
      />
      <Page
        class="page"
        :total="total"
        :current.sync="page"
        :page-size="pageSize"
        show-total
        @on-change="getData"
        @on-page-size-change="pageSizeChange"
      />
    </main>
  </div>
</template>

<script>

import Request from '@/request'
const types = [
  ['物业企业', '工程造价企业', '房地产企业', '建筑企业'],
  ['商业建设项目', '住宅建设项目', '国有建筑项目', '私有建设项目'],
  ['造价工程师', '建筑工程师', '土木工程师', '经济师'],
]
const columns = {}
// 企业数据表头
columns[0] = [
  {
    type: 'index',
    align: 'center',
    width: 48
  },
  {
    title: '企业名称',
    key: 'entname',
    align: 'center',
    width: 280,
    tooltip: true
  },
  {
    title: '统一社会信用代码',
    key: 'uniscid',
    width: 200,
    align: 'center',
    tooltip: true
  },
  {
    title: '企业法人',
    key: 'name',
    width: 120,
    align: 'center',
    tooltip: true
  },
  {
    title: '注册资金(万元)',
    key: 'regcap',
    width: 160,
    align: 'center',
    tooltip: true
  },
  {
    title: '经营范围',
    key: 'opscope',
    tooltip: true
  }
]
// 项目信息表头
columns[1] = [
  {
    type: 'index',
    align: 'center',
    width: 48
  },
  {
    title: '项目名称',
    key: 'dev_pname',
    align: 'center',
    width: 320,
    tooltip: true
  },
  {
    title: '负责人联系电话',
    key: 'fzrphone',
    width: 200,
    align: 'center',
    tooltip: true
  },
  {
    title: '计划总投资',
    key: 'jihuaztz',
    width: 180,
    align: 'center',
    tooltip: true
  },
  {
    title: '建筑设计单位名称',
    key: 'jzhshjdwname',
    width: 280,
    align: 'center',
    tooltip: true
  },
  {
    title: '项目地址',
    key: 'xmdzh',
    tooltip: true
  }
]
// 人员数据表头
columns[2] = [
  {
    type: 'index',
    align: 'center',
    width: 48
  },
  {
    title: '姓名',
    key: 'name',
    align: 'center',
    width: 300,
    tooltip: true
  },
  {
    title: '证件号',
    key: 'papernum',
    width: 300,
    align: 'center',
    tooltip: true
  },
  {
    title: '专业技术职务',
    key: 'artduty',
    align: 'center',
    tooltip: true
  }
]

export default {
  // type: 0,企业 , 1,项目, 2,人员
  props: ['type', 'index', 'keyword'],
  data() {
    return {
      data: [],
      loading: false,
      page: 1,
      pageSize: 10,
      total: 10
    }
  },
  computed: {
    typeName() {
      if (this.keyword == -1) {
        return types[this.type][this.index-1]
      } else {
        return ''
      }
    },
    columns() {
      return columns[this.type]
    },
    getFetchFunc() {
      if (this.keyword == -1) {
        if (this.type == 0) {
          return Request.getCompanies
        } else if (this.type == 1) {
          return Request.getProjects
        } else {
          return Request.getPersons
        }
      } else {
        return Request.getTableDataByKeyword
      }
    }
  },
  beforeMount() {
    this.clear()
  },
  mounted() {
    this.getData()
  },
  watch: {
    // router 中获取的参数都是 string， 所以本页面不采用全等判断
    '$route': 'getData'
  },
  methods: {
    getData() {
      this.$Loading.start()
      this.getFetchFunc({
        name: this.keyword,
        state: this.keyword == -1 ? this.index : this.type,
        pageon: this.page,
        pageSize: this.pageSize
      }).then(response => {
        this.$Loading.finish()
        if (response.data && Array.isArray(response.data.data)) {
          this.data = response.data.data
          this.total = Number(response.data.total)
        } else {
          this.clear()
        }
      }).catch(err =>{
        this.clear()
        this.$Loading.error()
        console.error('数据请求失败！')
      })
    },
    returnHome() {
      this.$router.push('/')
    },
    pageSizeChange() {
      this.page = 1
      this.getData()
    },
    clickRow(row) {
      let params = {
        type: 0,
        name: ''
      }
      let type = Number(this.type)
      if (type === 0) {
        // 企业
        params.type = 1
        params.name = row.uniscid
      } else if (type === 2) {
        // 人员
        params.type = 2
        params.name = row.papernum
      } else if (type === 1) {
        //项目
        params.type = 3
        params.name = row.dev_pname
      }
      if (params.name) {
        this.$router.push({
          name: 'detail',
          params
        })
      }
    },
    clear() {
      this.data = []
      this.total = 0
      this.loading = false
    }
  }
}
</script>

<style lang="less" scoped>
.table-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background: rgba(5, 1, 20, 0.54);
  font-size: 16px;
  overflow: hidden;
  .header {
    position: relative;
    padding: 24px 0;
    font-size: 26px;
    line-height: 48px;
    .return-home {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
    }
  }
  .main {
    flex: 1;
    overflow: auto;
    .table {
      margin: 20px;
      font-size: 16px;
    }
    .page {
      margin: 30px;
    }
  }
}
</style>

<style lang="less">
.table-wrapper {
  .main {
    .page {
      .ivu-page-total {
        color: #fff;
      }
      .ivu-page-next,
      .ivu-page-prev {
        height: 32px;
        color: #ffffff;
        border: 1px solid rgba(8, 245, 253, 0.2);
      }
      .ivu-page-next a,
      .ivu-page-prev a {
        font-size: 20px;
      }
      .ivu-page-next,
      .ivu-page-prev {
        background: transparent;
      }
      .ivu-page-simple-pager {
        font-size: 16px;
      }
      .ivu-page-simple-pager input {
        width: 40px;
        background: rgba(12, 22, 61, 0.4);
        border: #333 1px solid;
      }
      .ivu-page-item {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(8, 245, 253, 0.2);
      }
      .ivu-page-item a {
        color: #999;
      }
      .ivu-page-item-active a {
        font-weight: bolder;
        color: #fff;
      }
    }
  }
}
</style>