<template>
  <div class="map-wrapper">
    <div class="name" v-show="current===0">全自治区数据接入情况</div>
    <div class="name-hs" v-show="current===1">{{currentCity}}</div>
    <Tooltip content="返回" class="return-btn" v-show="current===1">
      <Icon type="ios-undo" :size="28" @click="returnNM"/>
    </Tooltip>
    <v-chart :options="option" autoresize class="chart" ref="chart" @click="clickMap"/>
  </div>
</template>

<script>
import echarts from 'echarts'
import axios from 'axios'
import Request from '@/request'

const regions = {
  '150100': '呼和浩特市',
  '150200': '包头市',
  '150300': '乌海市',
  '150400': '赤峰市',
  '150500': '通辽市',
  '150600': '鄂尔多斯市',
  '150700': '呼伦贝尔市',
  '150800': '巴彦淖尔市',
  '150900': '乌兰察布市',
  '152500': '锡林郭勒盟',
  '152200': '兴安盟',
  '152900': '阿拉善盟'
}

let nmGeoCoordMap = {
  呼和浩特市: [111.75, 40.88],
  呼伦贝尔市: [120.6, 49.2],
  乌兰察布市: [112.5, 42.0],
  乌海市: [106.8, 39.7],
  兴安盟: [121.7, 46.4],
  包头市: [110.2, 41.9],
  巴彦淖尔市: [107.4, 41.5],
  赤峰市: [118.9, 42.8],
  通辽市: [122.3, 43.4],
  鄂尔多斯市: [108.6, 38.9],
  锡林郭勒盟: [114.7, 43.8],
  阿拉善盟: [103.2, 40.2]
}

// 飞行线数据
let linesData = [
  [
    {
      name: '呼伦贝尔市',
      value: 1
    }
  ],
  [
    {
      name: '乌兰察布市',
      value: 1
    }
  ],
  [
    {
      name: '乌海市',
      value: 1
    }
  ],
  [
    {
      name: '兴安盟',
      value: 1
    }
  ],
  [
    {
      name: '包头市',
      value: 1
    }
  ],
  [
    {
      name: '巴彦淖尔市',
      value: 1
    }
  ],
  [
    {
      name: '赤峰市',
      value: 1
    }
  ],
  [
    {
      name: '通辽市',
      value: 1
    }
  ],
  [
    {
      name: '鄂尔多斯市',
      value: 1
    }
  ],
  [
    {
      name: '锡林郭勒盟',
      value: 1
    }
  ],
  [
    {
      name: '阿拉善盟',
      value: 1
    }
  ]
]

// 飞行图数据转换
var convertData = function(data) {
  var res = []
  for (var i = 0; i < data.length; i++) {
    var dataItem = data[i]
    var fromCoord = nmGeoCoordMap[dataItem[0].name]
    var toCoord = [111.66035052, 40.8283188731]
    if (fromCoord && toCoord) {
      res.push([
        {
          coord: fromCoord,
          value: dataItem[0].value
        },
        {
          coord: toCoord
        }
      ])
    }
  }
  return res
}

// 底图配置
let series = [
  {
    name: 'map',
    type: 'map',
    map: 'NM',
    label: {
      normal: {
        show: false,
        color: 'rgba(63, 218, 255, 0.6)'
      },
      emphasis: {
        show: false,
        color: 'rgba(63, 218, 255, 1)'
      }
    },
    itemStyle: {
      normal: {
        areaColor: 'rgb(8,30,80)',
        borderColor: '#3fdaff',
        borderWidth: 1,
        shadowColor: 'rgba(63, 218, 255, 0.5)',
        shadowBlur: 6
      },
      emphasis: {
        areaColor: '#2B91B7',
        shadowBlur: 30
      }
    }
  }
]

// 飞线图配置
series.push()
let lines = [['呼和浩特市', linesData]]
lines.forEach((item, i) => {
  series.push(
    {
      // 飞行线
      type: 'lines',
      zlevel: 2,
      effect: {
        show: true,
        period: 4,
        trailLength: 0.001,
        symbol: 'arrow',
        symbolSize: 10
      },
      lineStyle: {
        normal: {
          color: '#00eaff',
          width: 1, //尾迹线条宽度
          opacity: 0.8, //尾迹线条透明度
          curveness: 0.15 //尾迹线条曲直度
        }
      },
      tooltip: {
        show: false
      },
      data: convertData(item[1])
    },
    {
      // 带有涟漪特效动画的散点（气泡）图
      type: 'effectScatter',
      coordinateSystem: 'geo',
      zlevel: 2,
      symbol: 'circle',
      symbolSize: 3,
      rippleEffect: {
        period: 1,
        brushType: 'stroke',
        scale: 2.5
      },
      tooltip: {
        show: false
      },
      label: {
        normal: {
          show: true,
          position: 'top',
          formatter: function(params) {
            return params.data.name
          },
          color: 'rgba(63, 218, 255, 0.2)',
          fontSize: 12
        },
        emphasis: {
          show: true
        }
      },
      itemStyle: {
        normal: {
          color: 'rgb(8, 245, 253)',
          shadowBlur: 0,
          shadowColor: '#05C3F9'
        }
      },
      data: item[1].map(function(dataItem) {
        return {
          name: dataItem[0].name,
          value: nmGeoCoordMap[dataItem[0].name].concat([dataItem[0].value])
        }
      })
    },
    // 呼市圆点
    {
      type: 'effectScatter',
      coordinateSystem: 'geo',
      zlevel: 2,
      symbol: 'circle',
      symbolSize: 8,
      itemStyle: {
        normal: {
          color: 'rgba(255, 0, 0, 0.3)',
          shadowBlur: 8,
          shadowColor: 'rgba(255, 0, 0, 0.1)'
        }
      },
      tooltip: {
        show: false
      },
      label: {
        normal: {
          show: true,
          position: 'top',
          formatter: function(params) {
            return params.data.name
          },
          color: 'rgba(63, 218, 255, 1)',
          fontSize: 16,
          fontweight: 600
        },
        emphasis: {
          show: true
        }
      },
      rippleEffect: {
        period: 2,
        brushType: 'stroke',
        scale: 6
      },
      data: [
        {
          name: item[0],
          value: nmGeoCoordMap[item[0]].concat([10])
        }
      ]
    }
  )
})

// 呼市配置
var series2 = JSON.parse(JSON.stringify([series[0]]))
series2[0].label.normal.show = true

export default {
  props: {
    state: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      current: 0,
      currentCity: '',
      option: {
        tooltip: {
          show: true,
          trigger: 'item',
          formatter: function(params) {
            if (params.data) {
              return `
                  <div class='tip-content'>
                    <h4>${params.name}</h4>
                    <p>单位数量：<span class='value'>${params.data.value1}</span> 个</p>
                    <p>项目数量：<span class='value'>${params.data.value2}</span> 个</p>
                    <p>人员数量：<span class='value'>${params.data.value3}</span> 人</p>
                  </div>
                `
            } else {
              return `
                  <div class='tip-content'>
                    <h4>${params.name}</h4>
                  </div>
                `
            }
          }
        },
        grid: {
          top: 0,
          right: 0,
          left: 0,
          bottom: 0
        },
        geo: {
          show: false,
          map: 'NM'
        },
        series: series
      }
    }
  },
  mounted() {
    this.getData()
    this.registerMap()
  },
  beforeDestroy() {
    this.$refs.chart && this.$refs.chart.clear()
  },
  methods: {
    getData() {
      Request.getMapData().then(response => {
        let data = response.data
        if (data) {
          let dataArr = []
          for (let key in data) {
            dataArr.push({
              name: regions[key],
              id: key,
              value1: data[key].companycount,
              value2: data[key].projectcount,
              value3: data[key].personcount
            })
          }
          this.option.series && (this.option.series[0].data = dataArr)
        }
      })
    },
    registerMap() {
      axios.get('./data/150000.json').then(response => {
        echarts.registerMap('NM', response.data)
        this.$refs.chart && this.$refs.chart.refresh()
      })
    },
    clickMap(params) {
      if (params && params.data) {
        this.sitchToCity(params.data.name, params.data.id)
      }
    },
    // 返回全自治区视图
    returnNM() {
      this.current = 0
      this.option.geo.map = 'NM'
      this.option.series = series
      this.option.tooltip.show = true
    },
    // 切换到呼市
    sitchToCity(name, id) {
      axios.get(`./data/${id}.json`).then(response => {
        echarts.registerMap(id, response.data)
        this.current = 1
        this.currentCity = name
        this.option.series = series2
        this.option.series[0].map = id
        this.option.geo.map = id
        this.option.tooltip.show = false
        this.$refs.chart && this.$refs.chart.refresh()
      })
    }
  }
}
</script>

<style lang="less" scoped>
.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  .name {
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: 999;
    padding: 30px 40px;
    font-size: 24px;
    letter-spacing: 0.1em;
    background: rgba(7, 17, 53, 0.8) url(~@/assets/border.png);
    background-size: 100% 100%;
  }
  .name-hs {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 999;
    padding: 20px 40px;
    font-size: 20px;
    letter-spacing: 0.1em;
    background: rgba(7, 17, 53, 0.8) url(~@/assets/border.png);
    background-size: 100% 100%;
  }
  .return-btn {
    position: absolute;
    top: 120px;
    left: 30px;
    z-index: 999;
    cursor: pointer;
  }
  .chart {
    width: 100%;
    height: 100%;
  }
}
</style>
