<template>
  <div class="top-wrapper">
    <div class="item" v-for="(item, index) in data" :key="item.name" @click="navigateTo(index)">
      <div class="left">
        <img :src="`./images/icon_${index+1}.png`" height="36" alt>
      </div>
      <div class="right">
        <div class="count">{{item.value ? item.value : 0}}</div>
        <div class="name">{{item.name}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import Request from '@/request'
import { stat } from 'fs';

export default {
  props: {
    state: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      data: []
    }
  },
  mounted() {
    this.getData()
  },
  watch: {
    state() {
      this.getData()
    }
  },
  methods: {
    getData() {
      Request.getStatisticData({
        state: this.state
      }).then(response => {
        if (response.data && response.data.length) {
          this.data = response.data
        }
      }).catch(err =>{
        console.error('数据请求失败！')
      })
    },
    navigateTo(index) {
      if (this.state !== 0) {
        // 0 企业，1 项目，2 人员
        let state = 0
        if (this.state === 2) {
          state = 2
        } else if (this.state === 3) {
          state = 1
        }
        this.$router.push({
          name: 'table',
          params: { index: index + 1, type: state, keyword: -1}
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
.top-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 10px;
  .item {
    width: 240px;
    height: 120px;
    margin: 10px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.1) url(~@/assets/border.png);
    background-size: 100% 100%;
    display: flex;
    text-align: center;
    cursor: pointer;
    .left {
      width: 80px;
      img {
        margin-top: 48px;
      }
    }
    .right {
      flex: 1;
      .count {
        font-size: 32px;
        font-weight: 600;
        line-height: 82px;
        color: #FF8C00;
      }
    }
  }
}
</style>
