<template>
  <div class="bottom-wrapper">
    <Carousel
      ref="carousel"
      autoplay
      :autoplay-speed="5000"
      class="carousel">
      <CarouselItem>
        <v-chart
          class="chart"
          :options="option1"
          autoresize
          ref="chart1"/>
      </CarouselItem>
      <CarouselItem>
        <v-chart
          class="chart"
          :options="option2"
          autoresize
          v-if="option2.series && option2.series[0].data.length"
          ref="chart2"/>
      </CarouselItem>
      <CarouselItem>
        <v-chart
          class="chart"
          :options="option3"
          autoresize
          v-if="option3.series && option3.series[0].data.length"
          ref="chart3"/>
      </CarouselItem>
    </Carousel>
  </div>
</template>

<script>
import Request from '@/request'
import { addListener, removeListener } from 'resize-detector'

export default {
  props: {
    state: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      // 柱状图
      option1: {
        color: ['#3f5efc', '#5f8bfa', '#79b3fc', '#a4d4fc'],
        legend: {
          show: false
        },
        grid: {
          top: 40,
          right: 60,
          left: 120,
          bottom: 100
        },
        tooltip: {
          show: true,
          confine: true,
          enterable: true,
          alwaysShowContent: false,
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        xAxis: {
          type: 'category',
          axisLine: {
            show: true,
            lineStyle: {
              color: '#666'
            }
          },
          axisLabel: {
            textStyle: {
              color: 'rgb(8, 245, 253)',
              fontSize: 14
            },
            rotate: 33,
            formatter: params => {
              if (params.length > 4) {
                return params.substring(0, 4) + '..'
              } else {
                return params
              }
            }
          },
          splitLine: {
            show: false
          }
        },
        yAxis: {
          type: 'value',
          axisLine: {
            show: true,
            lineStyle: {
              color: 'rgba(200,200,200,0.5)'
            }
          },
          axisLabel: {
            textStyle: {
              color: 'rgb(8, 245, 253)',
              fontSize: 14
            }
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle: {
              type: 'dotted',
              color: 'rgba(200,200,200,0.5)'
            }
          }
        },
        series: [
          {
            name: '数据量',
            type: 'bar',
            barWidth: 12,
            itemStyle: {
              shadowColor: 'rgba(121,246,255, 1)',
              shadowBlur: 0
            },
            label: {
              show: false,
              position: 'top'
            }
          }
        ],
        dataset: {
          dimensions: ['name', 'value'],
          source: []
        }
      },
      // 饼状图
      option2: {
        color: ['#3f5efc', '#5f8bfa', '#79b3fc', '#a4d4fc'],
        legend: {
          show: false
        },
        tooltip: {
          trigger: "item"
        },
        grid: {
          top: 0,
          bottom: 0
        },
        series: [
          {
            type: "pie",
            center: ['50%', '50%'],
            radius: ['30%', '50%'],
            avoidLabelOverlap: false,
            labelLine: {
              lineStyle: {
                color: '#fff'
              }
            },
            label: {
              normal: {
                textStyle: {
                  fontSize: 16
                }
              }
            },
            data: [],
            textStyle: {
              color: '#ffffff',
              fontSize: 16
            }
          }
        ]
      },
      // 玫瑰饼状图
      option3: {
        color: ['#3f5efc', '#5f8bfa', '#79b3fc', '#a4d4fc'],
        legend: {
          show: false
        },
        tooltip: {
          trigger: "item"
        },
        grid: {
          top: 0,
          bottom: 0
        },
        series: [
          {
            type: "pie",
            roseType : 'radius',
            center: ['50%', '50%'],
            radius: ['10%', '50%'],
            avoidLabelOverlap: false,
            labelLine: {
              lineStyle: {
                color: '#fff'
              }
            },
            label: {
              normal: {
                textStyle: {
                  fontSize: 16
                }
              }
            },
            data: [],
            textStyle: {
              color: '#ffffff',
              fontSize: 16,
            }
          }
        ]
      }
    }
  },
  mounted() {
    this.getData()
    addListener(this.$refs.carousel.$el, this.handleResize)
  },
  beforeDestroy() {
    removeListener(this.$refs.carousel, this.handleResize)
    this.$refs.chart1 && this.$refs.chart1.clear()
    this.$refs.chart2 && this.$refs.chart2.clear()
    this.$refs.chart3 && this.$refs.chart3.clear()
  },
  methods: {
    getData() {
      Request.getChartsData().then(response => {
        if (response.data && response.data.length) {
          this.option1.dataset.source = response.data
          this.option2.series[0].data = response.data
          this.option3.series[0].data = response.data
        }
      })
    },
    handleResize() {
      this.$refs.carousel && this.$refs.carousel.handleResize()
    }
  }
}
</script>

<style lang="less" scoped>
.bottom-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  .chart {
    width: 100%;
  }
}
</style>
