<template>
  <div id="app">
    <transition :name="transitionName">
      <!-- <keep-alive> -->
        <router-view class="view"></router-view>
      <!-- </keep-alive> -->
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      transitionName: ''
    }
  },
  watch: {
    $route (to, from) {
      if (to.meta.index > from.meta.index) {
        this.transitionName = 'slide-from-left'
      } else if (to.meta.index < from.meta.index) {
        this.transitionName = 'slide-from-right'
      } else {
        this.transitionName = ''
      }
    }
  }
}
</script>


<style lang="less">
@import 'base.less';

#app {
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(8, 245, 253);
  width: 100vw;
  height: 100vh;
  min-width: 1366px;
  min-height: 767px;
  background: url(~@/assets/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*路由切换动画*/
.slide-from-right-enter-active,
.slide-from-right-leave-active,
.slide-from-left-enter-active,
.slide-from-left-leave-active {
  transition: all 1.2s;
  position: absolute;
}
.slide-from-left-enter {
  transform: translate3d(100%, 0, 0) scale(0.5, 0.1);
}
.slide-from-left-leave-to {
  transform: translate3d(-100%, 0, 0) scale(0.5, 0.1);
}
.slide-from-right-enter {
  transform: translate3d(-100%, 0, 0) scale(0.5, 0.1);
}
.slide-from-right-leave-to {
  transform: translate3d(100%, 0, 0)  scale(0.5, 0.1);
}
</style>
