* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
::-webkit-scrollbar {
  display: inline-block;
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(28, 18, 156, 0.2);
  border-radius: 3px;
}

// iveiw
#app {
  .ivu-input {
    background: transparent;
    border: 1px solid rgba(8, 245, 253, 0.4);
    color: #fff;
    font-size: 18px;
  }
  .ivu-input-search-icon {
    font-size: 24px;
  }
  .ivu-select-selection {
    background: transparent;
    border: 1px solid rgba(8, 245, 253, 0.2);
  }
  .ivu-select-selected-value {
    color: #fff;
    font-size: 16px;
  }
  .ivu-select-dropdown {
    background: rgba(12, 22, 61, 0.8);
  }
  .ivu-select-item {
    color: #ccc;
    font-size: 16px!important;
  }
  .ivu-select-item:hover {
    background: rgba(12, 22, 61, 0.8);
    color: rgb(48, 168, 204);
    font-weight: blod;
  }
  .ivu-select-item-focus {
    background: rgba(12, 22, 61, 0.8);
    color: rgb(48, 168, 204);
    font-weight: blod;
  }
  .ivu-table-wrapper {
    border: 0;
  }
  .ivu-table {
    color: #eee;
    background: rgba(60, 60, 60, 0.1);
    border: 0.5px solid rgba(0, 255, 255, 0.3);
  }
  .ivu-table th {
    font-weight: bolder;
    background: rgba(200, 200, 200, 0.1);
    border-bottom: 0;
    border: 0.5px solid rgba(0, 255, 255, 0.3);
    .ivu-table-cell {
      font-size: 18px;
    }
  }
  .ivu-table td {
    background: transparent;
    border: 0.5px solid rgba(0, 255, 255, 0.3);
    border-bottom: 0;
    height: 36px;
  }
  .ivu-table::after {
    width: 0;
    height: 0;
  }
  .ivu-table::before {
    width: 0;
    height: 0;
  }
  .ivu-table-row-hover {
    background: rgba(0, 0, 200, 0.1);
    cursor: pointer;
    .ivu-table-cell {
      color: rgb(21, 243, 243);
      font-size: 17px;
      font-weight: bold;
    }
  }
  .ivu-table-row-highlight {
    background: rgba(0, 0, 200, 0.1);
  }
  .ivu-table-body {
    overflow-x: hidden;
  }
  .ivu-table-cell {
    transition: all 0.2s;
    line-height: 24px;
    padding: 12px;
    font-size: 16px;
  }
  .ivu-collapse {
    text-align: left;
    background: rgba(0,0,0,0);
    border: none;
    &::-webkit-scrollbar {
      width: 0px;
    }
    &:hover {
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
    .ivu-collapse-item {
      border: none;
      background: rgba(4, 35, 114, 0.2);
      margin: 3px;
      .ivu-collapse-header {
        color: #eee;
        font-weight: normal;
        i {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
      .ivu-collapse-content {
        background: rgba(0,0,0,0);
        color: #eee;
        padding: 0 10px;
        .ivu-collapse-content-box {
          padding: 6px 0;
        }
      }
    }
  }
}

.tip-content {
  p {
    text-align: left;
    .value {
      color: aqua;
      font-weight: 600;
    }
  }
}